<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.</string>
	<key>CFBundleName</key>
	<string>Calm⁴unity KB 0.03Ᏼrc7</string>
	<key>CFBundleVersion</key>
	<string>v0.03Ᏼ</string>
	<key>KLInfo_Calm KB Path Finder | v0.03βrc7</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout..calmkbpathfinder|v0.03βrc7</string>
		<key>TISIntendedLanguage</key>
		<string>cpe-US</string>
	</dict>
</dict>
</plist>
